.charts
  width:900px
  margin: auto

.flex
  display: flex

.user-score
  margin-left: 700px
  position: relative
  top: 75px
  font-weight: bold
  font-sixe: 16px
  Z-Index: 1

.cohort-av
  margin-left: 292.5px
  position: relative
  top: 55px
  font-weight: bold
  font-sixe: 16px
  color: grey
  Z-Index: 1

.arrow-down, .arrow-up
  width: 0
  height: 0
  border-left: 10px solid transparent
  border-right: 10px solid transparent
  Z-Index: 1
  position: relative

.arrow-up
  border-bottom: 20px solid grey
  top: 35px
  margin-left: -65px


.arrow-down
  border-top: 20px solid #000
  margin-top: 25px
  margin-left: -50px

