<style>
  #body {
    background-color: black;
    }

</style>

<div id="body" class="w-full h-full">
  <div class="content w-fit" style="margin: auto;">

    <h2>THE GBS DIFFERENCE</h2>

    <div class="gbs-diff flex m-8 w-fit mx-auto ">
      <div id="increaseCompletionRates" class="mx-8"></div>
      <div id="highCertificationRates" class="mx-8"></div>
    </div>

    <div class="gbs-diff flex m-8 w-fit mx-auto ">
      <div id="highSkellsGain" class="mx-8"></div>
      <div id="consistentConfidenceGain" class="mx-8"></div>
    </div>
    <hr style="margin: 50px 0;">

    <h2>Experienced learner enrolment rates <br><span style="color: yellow">steadily increased year on year.</span></h2>

    <div class="gbs-diff flex m-8 w-fit">
      <div id="persentageOfEnrolmentByExperience" class="mx-8"></div>
      <div id="persentageOfEnrolmentByRole" class="mx-8"></div>
    </div>

    <div class="gbs-diff flex m-8 w-fit">
    <div id="worckExperiencePieChart"></div>
    </div>
    
  </div>
</div>


