<style>
  #body {
    background-color: black;
    }

</style>

<div id="body" class="w-full h-full">

  <div class="content" style="width: 900px; margin: auto;">
    <h2>THE GBS DIFFERENCE</h2>
    <div class="gbs-diff flex m-8">
      <div id="increaseCompletionRates" class="mx-8"></div>
      <div id="highCertificationRates" class="mx-8"></div>
    </div>

    <div class="gbs-diff flex m-8">
      <div id="highSkellsGain" class="mx-8"></div>
      <div id="consistentConfidenceGain" class="mx-8"></div>
    </div>

  </div>
</div>


