<div class="container mx-auto max-w-screen-lg" style="margin-bottom: 200px;">
  <div class="flex">
      <div class="mt-20 w-1/2">
      <div id="bar-chart"></div>
      </div>
      <div class="mt-20 w-1/2">
        <div id="column"></div>
      </div>
  </div>

  <div class="mt-20">
    <div id="line-chart"></div>
  </div>
  <div class="mt-20">
    <div id="bubble"></div>
  </div>

  <div class="flex">
    <div class="mt-20 w-11/12">
      <div id="chart-pie"></div>
    </div>
    <div class="mt-20 w-1/2">
      <div id="chart-gauge"></div>
    </div>
</div>
</div>

