<div class="charts">
  <div  style="margin-bottom: 160px">
    <!-- <img src="{{htmlToAdd}}" alt=""></div> -->
    <div id="chart4"></div>
    <p class="my-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur vel odit culpa aspernatur non rerum consequatur quia dolore excepturi cum harum unde veritatis voluptate facilis, numquam explicabo inventore tempore iste.
      Beatae laudantium doloremque soluta atque? Repudiandae temporibus, earum tenetur voluptatibus, sapiente asperiores provident totam voluptas vel cupiditate nobis minus doloribus impedit repellendus commodi dolorum amet e pariatur laudantium quidem!</p>
  <div id="chart1"></div>
  <p class="my-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur vel odit culpa aspernatur non rerum consequatur quia dolore excepturi cum harum unde veritatis voluptate facilis, numquam explicabo inventore tempore iste.
    Beatae laudantium doloremque soluta atque?sit amet consectetur adipisicing elit. Consequuntur vel odit culpa aspernatur non rerum consequatur quia dolore excepturi cum harum unde veritatis voluptate facilis, numquam explicabo inventore tempore iste.
    Beatae laudantium doloremque soluta atque? Repudiandae temporibus, earum tenetur voluptatibus, Repudiandae temporibus, earum tenetur voluptatibus, sapiente asperiores provident totam voluptas vel cupiditate nobis minus doloribus impedit repellendus commodi dolorum amet e pariatur laudantium quidem!</p>
  <div id="chart2"></div>
  <p class="my-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur vel odit culpa aspernatur non rerum consequatur quia dolore excepturi cum harum unde veritatis voluptate facilis, numquam explicabo inventore tempore iste.
    Beatae laudantium doloremque soluta atque? sit amet consectetur adipisicing elit. Consequuntur vel odit culpa aspernatur non rerum consequatur quia dolore excepturi cum harum unde veritatis voluptate facilis, numquam explicabo inventore tempore iste.
    Beatae laudantium doloremque soluta atque? Repudiandae temporibus, earum tenetur voluptatibus,Repudiandae temporibus, earum tenetur voluptatibus, sapiente asperiores provident totam voluptas vel cupiditate nobis minus doloribus impedit repellendus commodi dolorum amet e pariatur laudantium quidem!</p>
  <div id="chart3"></div>


  <h2 class="my-32 text-center text-xl">GBS1</h2>
  <div id="chart1_7"></div>
  <div id="chart2_7"></div>
  <div id="chart3_7"></div>
  <div id="chart4_7"></div>
</div>
<script src="C:\Users\diana\Documents\Hardskills-V2.14.2.5\Hardskills Admin Utility V2.14.2.5\Personal Report Data\resources\chart4RenderSettings_7Modules.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
